<!-- professors.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Professor List</title>
</head>
<body>
<h1>Professor List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Speciality</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="professor : ${professors}">
        <td th:text="${professor.id}"></td>
        <td th:text="${professor.name}"></td>
        <td th:text="${professor.speciality}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
